<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body style="font-family: Trebuchet MS, Verdana, serif; color: rgb(85, 85, 85);">

        <table width="100%" cellspacing="0" cellpadding="0" style="font-size: 24px; text-align: center;">
            <tr style="height: 80px;">
                <td style="text-align: center">
                    <img src="http://static.scae.adm.br/images/logo-email.png" style="width: 140px;">
                </td>
            </tr>
            <tr>
                <td style="width: 100%; height: 80px; background-image: linear-gradient(90deg, #EE9613, #F6631E); margin: 10px 0px 35px 0px;">
                    <span style="color: white; font-size: 36px">Seu boleto está próximo de vencer</span>
                </td>
            </tr>
            <tr>
                <td style="padding: 30px 10% 30px 10%;">
                    <span style="font-size: 26px !important;">
                        <strong>Olá,</strong>
                        <span style="color: #F6631E;">$cliente_nome$</span>!
                    </span>
                </td>
            </tr>
            <tr>
                <td style="padding: 30px 10% 30px 10%;">
                    <span>
                        Passando para lembrar que seu <strong>boleto</strong> referente a prestação do seu contrato $contrato_numero$, 
                        <strong>vence no próximo dia $dataVencimento$.</strong>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="padding: 30px 10% 30px 10%;">
                    <span>
                        Você pode entrar em seu ambiente no <a href="https://cliente-$subDominio_nome$.scae.adm.br"><span style="color:#F6631E; text-decoration: underline; font-weight: bold">Sistema SCAE</span></a>
                        para retirar o boleto e visualizar os seus pagamentos,
                        além de muitas outras funcionalidades.
                    </span>
                </td>
            </tr>
            <tr>
                <td style="padding: 30px 10% 30px 10%;">
                    <span>
                        Para a sua comodidade <a href="$link_boleto$" target="_blank" style="color: #F6631E; font-weight: bold;">clique aqui</a> para pegar seu boleto.
                    </span>
                </td>
            </tr>
            <tr>
                <td style="padding: 30px 10% 30px 10%;">
                    <span>
                        Você pode pagar o boleto no seu internet banking,
                        em lotéricas , agências bancárias, lojas que aceitam
                        o pagamento de boleto ou em caixas eletrônicos.
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; height: 80px; background-image: linear-gradient(90deg, #EE9613, #F6631E); margin: 10px 0px 10px 0px;">
                    <span style="color: white; font-size: 36px">Se o boleto vencer...</span>
                </td>
            </tr>
            <tr>
                <td style="padding: 30px 10% 30px 10%; background-color: #414042;">
                    <img src="http://static.scae.adm.br/images/ate-59-dias.png" style="margin: 10px 10px 40px 10px;"> <br/>
                    <span style="font-size: 22px !important; color: #EE9613;">
                        Você tem até 59 dias para fazer o pagamento
                        sem a necessidade de solicitar outro boleto.
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; height: 80px; background-image: linear-gradient(90deg, #EE9613, #F6631E); margin: 10px 0px 0px 0px;">
                    <span style="color: white; font-size: 36px">Cuidado com o atraso.</span>
                </td>
            </tr>
            <tr style="background-color: #F1F2F2;">
                <td style="padding: 45px 10% 45px 10%;">
                    <span>
                        <span style="color: #F6631E; font-weight: bold;">Lembre-se:</span> Se o boleto vencer, você perde o desconto, se previsto em contrato e, ainda terá
                        que pagar juros e multa. Mas não se preocupe, estamos aqui para ajudá-lo
                        a manter os seus pagamentos em dia.
                    </span>
                </td>
            </tr>
            <tr>
                <td style="padding: 30px 10% 30px 10%;">
                    <span>
                        Vale ressaltar que devido as novas regulamentações da Febraban para emissão de boletos registrados,
                        você pode não conseguir pagar o seu boleto imediatamente após receber este e-mail. Caso isso aconteça,
                        tente realizar o pagamento novamente após algumas horas.
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-size: 20px !important;">
                        Abraços, <br/>
                        Equipe Scae <br /> <br/>
                        WhatsApp:  (21) 98267-5124 <br/>
                        sac@scae.adm.br
                    </span>
                </td>
            </tr>
        </table>

    </body>
</html>