<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body style="font-family: Trebuchet MS, Verdana, serif; color: rgb(85, 85, 85);">

        <table width="100%" cellspacing="0" cellpadding="0" style="font-size: 24px; text-align: center;">
            <tr style="height: 80px;">
                <td style="text-align: center" colspan="2">
                    <img src="http://static.scae.adm.br/images/logo-email.png" style="width: 140px;">
                </td>
            </tr>
            <tr>
                <td style="width: 100%; height: 80px; background-image: linear-gradient(90deg, #EE9613, #F6631E); margin: 10px 0px 35px 0px;" colspan="2">
                    <span style="color: white; font-size: 34px">Atenção:  Seu débito pode virar uma notificação judicial</span>
                </td>
            </tr>

            <tr>
                <td colspan="2" style="padding: 25px 10% 10px 10%; text-align: center !important">
                    <strong>Prezado,
                        <span style="color: #F6631E;">$cliente_nome$</span>!
                    </strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px 10% 10px 10%; text-align: center !important">
                    <span>
                        O seu contrato $contrato_numero$ foi enviado para o escritório jurídico Farias Advogados. 
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px 10% 10px 10%; text-align: center !important">
                    <span>
                        O escritório jurídico recebeu a incumbência, da Administradora do financiamento do contrato citado, 
                        de promover a <strong>cobrança do débito vencido.</strong> Consta em nossos registros, atraso no pagamento de parcela(s) no seu financiamento.
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px 10% 10px 10%; text-align: center !important">
                    <span>
                        Solicitamos contato para verificação dos débitos, e/ou envio dos comprovantes de pagamento dos mesmos. Assim como atualização de telefones, e endereços. 
                        Lembrando que qualquer mudança no endereço deve ser comunicada junto à Administradora, pois caso contrário qualquer comunicado enviado para o endereço antigo será considerado válido. 
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 30px 10% 30px 10%; text-align: center !important">
                    <span style="color: #EE9613;">
                        Caso o pagamento já tenha sido efetuado, por favor, desconsidere este aviso.
                    </span>
                </td>
            </tr>

            <tr>
                <td style="width: 100%; height: 80px; background-image: linear-gradient(90deg, #EE9613, #F6631E); margin: 10px 0px 0px 0px;" colspan="2">
                    <span style="color: white; font-size: 34px">Não desista de seu sonho da casa própria.</span>
                </td>
            </tr>
            <tr>
                <td rowspan="2" style="padding: 30px 0px 30px 0px;">
                    <div>
                        <img style="width: 350px; margin-right: 20px;" src="http://static.scae.adm.br/images/pagamento-atrasado.png">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 0px 10% 0px 10%; text-align: start !important">
                    <span>
                        Devido ao débito acima descrito, e antes de ingressarmos com <span style="color: #F6631E; font-weight: bold">NOTIFICAÇÃO JUDICIAL</span>, 
                        solicitamos o seu comparecimento ao nosso escritório, em um prazo de 10 (dez) dias, para firmarmos <span style="color: #EE9613">Acordo Amigável.</span>
                    </span>
                </td>
            </tr>
            <tr style="background-color: #F1F2F2;">
                <td style="padding: 25px 10% 15px 10%;">
                    <img style="margin-right: 20px; width: 250px" src="http://static.scae.adm.br/images/advocacia.png">
                </td>
                <td style="padding: 25px 5% 15px 5%;">
                    <span>Entre em contado conosco:</span> <br/>
                    <img style="margin-right: 10px;" src="http://static.scae.adm.br/images/fone.png"><span style="color: #F6631E">(21) 98802-0104</span>
                </td>
            </tr>    
            <tr style="background-color: #F1F2F2;">
                <td colspan="2" style="padding-bottom: 15px;">
                    <span style="font-size: 20px">Trav. Almerinda Lucas de Azeredo, 11 – Sala 807 - Centro – Nova Iguaçu.</span>
                </td>
            </tr>        
            <tr>
                <td colspan="2" style="padding: 45px 10% 25px 10%;">
                    <span style="font-size: 20px !important;">
                        Atenciosamente, <br/>
                        Equipe Scae
                    </span>
                </td>
            </tr>
        </table>

    </body>
</html>