<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body style="font-family: Trebuchet MS, Verdana, serif; color: rgb(85, 85, 85);">

        <table width="100%" cellspacing="0" cellpadding="0" style="font-size: 24px; text-align: center;">
            <tr style="height: 80px;">
                <td style="text-align: center" colspan="2">
                    <img src="http://static.scae.adm.br/images/logo-email.png" style="width: 140px;">
                </td>
            </tr>
            <tr>
                <td style="width: 100%; height: 80px; background-image: linear-gradient(90deg, #EE9613, #F6631E); margin: 10px 0px 35px 0px;" colspan="2">
                    <span style="color: white; font-size: 36px">Pagamento não identificado</span>
                </td>
            </tr>
            <tr>
                <td rowspan="5" style="background-color: #F1F2F2; padding-left: 25px; padding-right: 25px">
                    <div>
                        <img style="width: 120px" src="http://static.scae.adm.br/images/pagamento-nao-idenficado.png">
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 30px 10% 15px 10%; text-align: start !important">
                    <span style="font-size: 26px !important;">
                        <strong>Prezado,
                            <span style="color: #F6631E;">$cliente_nome$</span>!
                        </strong>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="padding: 15px 10% 15px 10%; text-align: start !important">
                    <span>
                        Ainda constam em nosso sistema o não pagamento de duas prestações do seu contrato $contrato_numero$
                        com <strong>vencimento da mais antiga em $dataVencimento$.</strong>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="padding: 15px 10% 15px 10%; text-align: start !important">
                    <span>
                        Pode ter ocorrido algum problema na compensação se a parcela foi paga até o vencimento, ou ainda não ter sido 
                        compensada se tiver sido paga nas últimas 24 horas. Se a parcela já tiver sido paga, solicitamos a gentileza de 
                        entrar em contato com nossa <strong style="color: #F6631E;">Central de Atendimento a Clientes</strong> 
                        relatando o ocorrido e pedimos desculpa pelos transtornos causados. 
                    </span>
                </td>
            </tr>
            <tr>
                <td style="padding: 30px 10% 30px 10%; text-align: start !important">
                    <span>
                        Se ainda não pagou, é necessário o pagamento imediato para evitar maiores transtornos e maior incedência de juros. 
                        Assim que efetuar o pagamento solicite o boleto da próxima prestação. Em caso de dúvidas quanto ao pagamento, ou 
                        ainda para quaisquer esclarecimentos a nossa Central de Atendimento a Clientes se coloca à disposição <strong style="color: #F6631E;">através do 
                        WhatsApp (21) 98267-5124 ou pelo e-mail sac@scae.adm.br.</strong>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; height: 80px; background-image: linear-gradient(90deg, #EE9613, #F6631E); margin: 10px 0px 10px 0px;" colspan="2">
                    <span style="color: white; font-size: 36px">Se o boleto vencer...</span>
                </td>
            </tr>
            <tr>
                <td style="padding: 30px 10% 30px 10%; background-color: #414042;" colspan="2">
                    <img src="http://static.scae.adm.br/images/ate-59-dias.png" style="margin: 10px 10px 40px 10px;"> <br/>
                    <span style="font-size: 22px !important; color: #EE9613;">
                        Você tem até 59 dias para fazer o pagamento
                        sem a necessidade de solicitar outro boleto.
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; height: 80px; background-image: linear-gradient(90deg, #EE9613, #F6631E); margin: 10px 0px 0px 0px;" colspan="2">
                    <span style="color: white; font-size: 36px">Cuidado com o atraso.</span>
                </td>
            </tr>
            <tr style="background-color: #F1F2F2;">
                <td style="padding: 45px 10% 45px 10%;" colspan="2">
                    <span>
                        <span style="color: #F6631E; font-weight: bold;">Lembre-se:</span> Com o boleto vencido, você perde o desconto e ainda terá
                        que pagar juros e multa. Mas não se preocupe, estamos aqui para ajudá-lo a manter os seus pagamentos em dia.
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 45px 10% 25px 10%;">
                    <span style="font-size: 20px !important;">
                        Abraços, <br/>
                        Equipe Scae <br/> <br/>
                        WhatsApp:  (21) 98267-5124 <br/>
                        sac@scae.adm.br
                    </span>
                </td>
            </tr>
        </table>

    </body>
</html>